<div>
    <h3 class = "display-3">
        Employee
    </h3>
    <div class="lead">
        <p>
            @foreach (string names in Model)
            {
                <p>@names</p>
            }
        </p>
    </div>
</div>