@model List<Employee>

    <div class = "display-3">
        Index 3
    </div>

    @foreach (Employee employee in Model)
    {
        <div class = "lead my-2">
            <p>@employee.Id</p>
            <h5><strong>Name: </strong>@employee.FullName</h5>
            <p><strong>Age: </strong>@employee.Age</p>
            <p><strong>E-Mail: </strong>@employee.Email</p>
            <hr />

        </div>
    }